<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="btn btn-primary mt-4">LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
   -->
<div class="container mx-auto mt-4">
  <div class="row">
       <div class="col-md-6 col-lg-4  mt-4 ">
<div class="card" style="">
  <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="..." style="width:100%;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
        <h6 class=" mb-2 ml-0  right d-flex">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn  mr-4 addtocart"><i class="fas fa-link"></i> Visit Site</a>
    <a href="#" class="btn buy ml-4"><i class="fab fa-github"></i> Github</a>
  </div>
  </div>
    </div>    
          <div class="col-md-6 col-lg-4  mt-4 ">
<div class="card" style="">
  <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="..." style="width:100%;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn mr-2 addtocart"><i class="fas fa-link"></i> Visit Site</a>
    <a href="#" class="btn buy ml-4"><i class="fab fa-github"></i> Github</a>
  </div>
  </div>
  </div>
  <div class="col-md-6 col-lg-4  mt-4 ">
    <div class="card" style="">
      <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="..." style="width:100%;">
      <div class="card-body">
        <h5 class="card-title ">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn  mr-4 addtocart"><i class="fas fa-link"></i> Visit Site</a>
        <a href="#" class="btn buy ml-4"><i class="fab fa-github"></i> Github</a>
      </div>
      </div>
        </div>    
        <div class="col-md-6 col-lg-4  mt-4 ">
          <div class="card" style="">
            <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="..." style="width:100%;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn  mr-4 addtocart"><i class="fas fa-link"></i> Visit Site</a>
              <a href="#" class="btn buy ml-4"><i class="fab fa-github"></i> Github</a>
            </div>
            </div>
              </div>    
              <div class="col-md-6 col-lg-4  mt-4 ">
                <div class="card" style="">
                  <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="..." style="width:100%;">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn  mr-4 addtocart"><i class="fas fa-link"></i> Visit Site</a>
                    <a href="#" class="btn buy ml-4"><i class="fab fa-github"></i> Github</a>
                  </div>
                  </div>
                    </div>    
                    <div class="col-md-6 col-lg-4  mt-4 ">
                      <div class="card" style="">
                        <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="..." style="width:100%;">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn  mr-4 addtocart"><i class="fas fa-link"></i> Visit Site</a>
                          <a href="#" class="btn buy ml-4"><i class="fab fa-github"></i> Github</a>
                        </div>
                        </div>
                          </div>    
                          <div class="col-md-6 col-lg-4  mt-4 ">
                            <div class="card" style="">
                              <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="..." style="width:100%;">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn  mr-4 addtocart"><i class="fas fa-link"></i> Visit Site</a>
                                <a href="#" class="btn buy ml-4"><i class="fab fa-github"></i> Github</a>
                              </div>
                              </div>
                                </div>    
                                <div class="col-md-6 col-lg-4  mt-4 ">
                                  <div class="card" style="">
                                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="..." style="width:100%;">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn  mr-4 addtocart"><i class="fas fa-link"></i> Visit Site</a>
                                      <a href="#" class="btn buy ml-4"><i class="fab fa-github"></i> Github</a>
                                    </div>
                                    </div>
                                      </div>    
</div>
  </div>