p{
    color:white !important;
}
.img{
    // margin-left: 10px;
    //width:100vh;
}
@media screen and (min-width:768px){
    .vr{
        border-left:2px solid white;
   
        // border-style: groove;
        // height:auto;
        // width:auto;
    }
}
.img{
    // margin-right: 20px;
}
.details{
    margin:5vh;

}
data{
    //padding: 30px;
    font-size:medium;
    color:orange;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight:700;
    line-height:1.2;
    font-size:1.7rem;
    :hover{
        color:antiquewhite;
    }
}
h5{
    margin: 20px;
}
.col-md-6{
    // height: 50px !important;
}
.description{
    text-indent: 10vh !important;
    font-size:14px;
    color:burlywood;
}
img{
    height:450px;
    width:500px;
}
.buttons{
    float:right;
}
.btn{
    //border-radius: 100px 10px 150px 10px;
    cursor:pointer;
    padding:10px;
    font-weight: 900;
    font-family:-apple-system;
    letter-spacing: 3px;
    //border-style:groove !important;
   border:2px solid white;
    border-radius:5px 20px 5px 20px;
    background-color: rgba(0, 0, 255,0.9);
    color:rgb(224, 224, 224);
}
.btn:hover{
    background-color: rgba(248, 248, 253,0.9);
    color:rgb(25, 54, 221);
    border: solid rgb(255, 255, 255);
}
.price{
    margin: 7% 50% 5% 5%;

    font-family: Verdana;
    color:rgba(255,255,255,0.9);
    letter-spacing: 5px !important;
   

}
.price .old{
    color:rgba(255,255,255,0.7);
    text-decoration: line-through;
}
.price .new{
    margin-left:5%;
    font-weight:900;
    color:rgb(255, 59, 25);
    text-decoration: none;
    text-overflow: ellipsis;
}
strong{
    float:right !important;
    // margin-right: 2%;
    color:rgb(219, 60, 32);
    background-color: rgb(252, 244, 244);
    border:2px;
    border-radius:25% 0 25% 0;
}