<div class="container-fluid m-4"> 
  <div class="row">
<div class="col-md-6  img " >

  <img class="img-responsive img-fluid image m-4 text-center" src="assets/image/l1.png" alt="Product Image Loading...."  data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"/>
  <!-- <div class="vr"></div> -->
</div>

<div class="col-md-6  vr ">
  <div class="details">
    <strong class="offer animate__animated animate__flash">40% Offer   </strong>


    
    <h6>(Category)</h6>
    <br>
    <div class="alert alert-primary" role="alert" >
      <h3>Product Title</h3>
    </div>

<h5>Most Feature</h5>
<data>
  -specs<br>
  -spec2<br>
  -specs<br>
  -spec2<br>
</data>
<p class="description">
   </p>
  <div class="price">
    Price: <i class="old">$17</i>
    <b class="new">$4</b>

  </div>
<div class="buttons mx-auto">
  <button class="btn  m-4"><a >Cart</a></button>
  <button class="btn  m-4"><a>Buy</a></button>
</div>
</div>
</div>
</div>
</div>


<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
  <div class="toast-header">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>
<!-- <section class="product2 flex">
          <div class="left">
            <div class="owl-carousel owl-theme owl-loaded owl-drag">
              
            <img src="assets/image" />
              
            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1468px, 0px, 0px); transition: all 0.25s ease 0s; width: 2569px;"><div class="owl-item cloned" style="width: 347px; margin-right: 20px;"><div class="item">
                <div class="img">
                  <img src="assets/image/m2.png" alt="">
                </div>
              </div></div><div class="owl-item cloned" style="width: 347px; margin-right: 20px;"><div class="item">
                <div class="img">
                  <img src="assets/image/m3.png" alt="">
                </div>
              </div></div><div class="owl-item" style="width: 347px; margin-right: 20px;"><div class="item">
                <div class="img">
                  <img src="assets/image/m1.png" alt="">
                </div>
              </div></div><div class="owl-item" style="width: 347px; margin-right: 20px;"><div class="item">
                <div class="img">
                  <img src="assets/image/m2.png" alt="">
                </div>
              </div></div><div class="owl-item active" style="width: 347px; margin-right: 20px;"><div class="item">
                <div class="img">
                  <img src="assets/image/m3.png" alt="">
                </div>
              </div></div><div class="owl-item cloned" style="width: 347px; margin-right: 20px;"><div class="item">
                <div class="img">
                  <img src="assets/image/m1.png" alt="">
                </div>
              </div></div><div class="owl-item cloned" style="width: 347px; margin-right: 20px;"><div class="item">
                <div class="img">
                  <img src="assets/image/m2.png" alt="">
                </div>
              </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
          </div>
          <div class="right">
            <div class="product_detalis">
              <div class="text">
                <h3>(Dual Camera Phone)</h3>
                <h1>iPhone X pLUS</h1>
              </div>

              <ul>
                <li> - Perf : Hexa Core</li>
                <li> - Display : 5.5"(13.97 cm)</li>
                <li> - Storage : 12 MP + 12MP</li>
                <li> - Battery : 2675 mAh- Ram3 GB</li>
                <li> - Ram3 : 3 GB</li>
              </ul>
              <div class="Storage">
                <div class="text">
                  <h2>Storage : </h2>
                </div>
                <div class="color_circle">
                  <button>32GB</button>
                  <button>64GB</button>
                  <button>256GB</button>
                </div>
              </div>

              <div class="color">
                <div class="text">
                  <h2>COLOR : </h2>
                </div>
                <div class="color_circle">
                  <div class="dot"> </div>
                  <div class="dot"> </div>
                  <div class="dot"> </div>
                </div>
              </div>
              <h2>Price : $999 <label>$1999</label>
              </h2>
              <button class="btn1">Buy Now</button>
            </div>
          </div>
        </section> -->